.login {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainimage {
  position: absolute;
  top: 15%;
  right: 50%;
}

.social-container {
  position: relative;
  top: 10em;
  left: 30em;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Space between items */
}

.social {
  width: 40px; /* Set a width for the images */
  height: auto; /* Maintain aspect ratio */
}
.social-container p {
  font-size: 20px;
  /* font-weight: bold; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

hr {
  width: 150px;
  background-color: rgb(118, 118, 118);
  height: 1px;
}
.social-container .p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(161, 161, 161);
}
.social-container .option {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 4em;
  left: 0.05em;
  right: 0.05em;
}

.form {
  position: relative;
  top: 20em;
  left: 10em;
}

.form .email {
  display: flex;
  align-items: center;
  gap: 30px;
}
input {
  margin: 10px;
  border: 2px solid rgb(182, 182, 182);
  border-radius: 10px;
  height: 40px;
  width: 250px;
}

.form .pass {
  display: flex;
  align-items: center;
}

.pass input {
  position: relative;
  left: 2.3em;
}
.form img {
  height: 45px;
  width: 45px;
}
.loginbutton {
  position: relative;
  top: 50px;
}
.form a {
  position: relative;
  left: 220px;
  color: rgb(151, 151, 151);
  cursor: pointer;
  text-decoration: none;
}

button {
  position: relative;
  bottom: 1.5em;
  left: 3em;
  color: white;
  font-size: x-large;
  background-color: #608bc1;
  height: 50px;
  width: 5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register {
  position: relative;
  top: 20px;
  left: 70px;
  font-weight: bold;
}
.form p a {
  position: relative;
  top: 0px;
  left: 0px;
  color: rgb(253, 62, 62);
}

button:hover {
  background-color: #133e87;
}
